<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paywharf.ordershadingjdbcdemo.mapper.TransactionRequestMapper">
    

    <update id="save" parameterType="com.paywharf.ordershadingjdbcdemo.entity.TransactionRequest" >
       insert  into transaction_request (req_initiate_date) values (#{reqInitiateDate})
    </update>


    <select id="findByInitTime"  resultType="com.paywharf.ordershadingjdbcdemo.entity.TransactionRequest">
        select  * from transaction_request
        <where>
            <if test="startTime != null">
                and req_initiate_date <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                and req_initiate_date <![CDATA[<=]]> #{endTime}
            </if>

        </where>

    </select>


</mapper>